{% extends "blog/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>Profile for {{ user.username }}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Username (read-only):</label>
  <input type="text" value="{{ user.username }}" disabled /><br>
  <label>Email:</label>
  <input type="email" name="email" value="{{ user.email }}" /><br>
  {{ form.as_p }}
  <button type="submit">Save profile</button>
</form>

{% if user.profile.avatar %}
  <img src="{{ user.profile.avatar.url }}" alt="avatar" width="150">
{% endif %}
{% endblock %}
